body{
    background-image: url("img/gray-img.png");
    background-size:cover;
    background-repeat: no-repeat;
    image-resolution: 1%; 
    font-style: italic; 
}

#title {
    color:black;

}
.myForm :hover{
    
    text-align:left;
    background-color: pink;

}
#developer-list {
    color: black;
    text-align: left;
    border-width: 2px;
    
}